
.icon {
    display: inline-block;
    vertical-align: middle;
}

html {
    margin: 0;
    font-size: 18px;
}

body {
    margin: 20px;
    font-size: 18px;
}

body:after {
    content: "";
    background-image: url("./assets/icon.svg");
    background-repeat: no-repeat;
    background-size: 400px;
    opacity: 0.2;
    position: absolute;
    width: 100%;
    height: 100%;
    left: -80px;
    top: -20px;
    z-index: -1;
}

.option {
    margin-bottom: 10px;
    height: 36px;
    line-height: 36px;
}

.clearfix {
    clear: both;
}

.option label {
    width: 200px;
    float: left;
}
.option input {
    width: 600px;
    float: left;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid black;
    padding: 5px;
}

.option a {
    float: left;
    margin-left: 5px;
    position: relative;
    top: -3px;
}

#status {
    margin-left: 200px;
    margin-bottom: 10px;
    color: darkslateblue;
}

#submit {
    margin-left: 200px;
}

#form {
    margin-left: 200px;
}

button {
    width: 200px;
    font-size: 18px;
}
